body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0%;
background-color: darkslategray;
font-family: 'Source Sans Pro', sans-serif;
color: #fff;

}
.card{
    background-color: snow;
    padding: 50px;
    border-radius: 30px;
    width: 100%;
    max-width: 520px;
    height: 100%;
    max-height: 650px;
    margin: 1em;
    background-image: url(https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
}
.card-title{
    display: flex;
    justify-content: left;
    font-size: 15px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: .5em;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    background: #7c7c7c2b;
    color: white;
}
input.search-bar{
    border: none;
    outline: none;
    padding: .5em;
background: #7c7c7c2b;
color: white;
}



.degree{
   display: flex;
   justify-content: center;
    font-size: 9em;
    font-family:'Bebas Neue', cursive;
font-weight: 400px;
}
 .list{
     position: relative;
 display: flex;
   justify-content: center;
   top: 80px;

}

.first,
.second,
.third{
    background-color: #4e4e4e7a;
    border-radius: 4px;
    height: 200px;
    margin: 3px;
    text-align: center;
    border: none;
    position: relative;
    bottom: 50px;
}
.time1,
.time2,
.time3{
    position: relative;
    top: 10px;
}
.emoji1,
.emoji2,
.emoji3{
    position: relative;
    top: 20px;
    font-size: 50px;
}
.weather1,
.weather2,
.weather3{
    position: relative;
    top: 40px;
}
.boxes{
    position: relative;
top: 50px;
}